doctype html
html(lang='en')
    head
        title Edicasoft test
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', type='text/css', href='./assets/css/main.min.css')
    body
        .hero
            .hero__left
                div
                    h3.title.title--h3.text--grey.text--uppercase.mb-2  GET STARTED WITHIN 2 MINUTES
                    h1.title.title--h1.text--capitalize Learn How To Bake In 5 Easy Steps
                    p No doubt, you need more one pot dinners in your life like this easy Bosnian-style chicken and rice. This recipe is made all over the world with countless variations on the theme.
            .hero__right

            .hero__form
                form.form
                    input.form__input(name="name" placeholder="Your Name")
                    input.form__input(name="email" placeholder="Your Email")
                    input.form__input(name="phone" placeholder='Your Phone')
                    button.btn.w-100(type="submit") Download eBook Now
                    .text-explanation We don’t share your personal info with anyone. Check out our Policy for more information.
        .features
            .features__item
                .features__item-img(style="background-image: url('./assets/img/img.jpg')")
                    //- img.img--fluid(src="./assets/img/img.jpg")
                .features__item-text
                    h2.title.title--h2 Do you know how to level a cake?
                    p After years of cake successes and flops, I’m confident in this homemade vanilla cake. During my recipe testing, I combined my white cake recipe and naked cake recipe. These are two reader favorites and I knew they’d be the best starting point. 
            .features__item
                .features__item-img(style="background-image: url('./assets/img/img-2.jpg')")
                .features__item-text
                    h2.title.title--h2.text--capitalize Vanilla Cake Success Tips
                    p I always eyeball the amount of frosting between cake layers, but I measured when I decorated the pictured cake.The vanilla buttercream recipe below yields about 6 cups of frosting. I recommend you use about 1.5 heaping cups of buttercream between each cake layer and reserve the last 3 cups for outside the cake.

script(src='./js/index.js')
    